<html>
<head>
	<title>Server Test Project</title>
</head>
<body>
	<h1>Hello, world!!!</h1>

	<h2>Request:</h2>
	<pre>{{ req }}</pre>

	<h2>Response:</h2>
	<pre>{{ res }}</pre>

	<form action="/">
		<input type="text" name="username">
		<input type="password" name="password">
		<input type="submit">
	</form>
</body>
</html>